.navbar {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  color: #ffffff;

  .logo {
    font-size: 20px;
    margin: 10px;
    a {
      text-decoration: none;
      color: #ffffff;
      margin-left: 20px;
    }
  }
  .toggleBtn {
    position: absolute;
    top: 10px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;

    .line {
      height: 3px;
      width: 100%;
      background: #ffffff;
      border-radius: 10px;
    }
  }
  .navbar_links {
    ul {
      margin: 0px 10px;
      padding: 0px;
      display: flex;

      span {
        transform: rotate(90deg);
      }

      #navCat {
        padding: 20px;
      }

      li {
        cursor: pointer;
        list-style: none;
        text-decoration: none;
        color: #ffffff;
        display: block;

        a {
          padding: 20px;
          display: block;
          width: 100%;
          height: 100%;
        }

        > span {
          display: inline-block;
          transform: rotate(90deg);
          color: rgb(210, 210, 210);
        }
        .dropdown {
          visibility: hidden;
          right: 8px;
          width: 200px;
          display: flex;
          flex-wrap: wrap;
          border-radius: 0.6rem;
          padding: 20px 5px;
          top: 70px;
          z-index: 1000;
          position: absolute;
          background-color: #000000;
          box-shadow: 5px 5px 0.5rem 2px rgba(0, 0, 0, 0.2);

          .ddItem {
            border-radius: 1rem;
            width: 95px;
            padding: 10px 7px;
            text-align: center;
            color: #ffffff;

            img {
              margin-right: 5px;
            }

            &:hover {
              background-color: #ffffff;
              color: #000000;
            }
          }
        }
        & .catShow {
          visibility: visible;
          padding: 20px 5px;
        }
      }

      li:hover {
        background: rgb(255, 255, 255);
        color: #000000;
      }
    }
  }
}

@media only screen and (max-width: 663px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    .toggleBtn {
      display: flex;
    }
    .navbar_links {
      width: 100%;
      display: none;
      background-color: #000000;

      ul {
        width: 100vh;
        height: 204px;
        flex-direction: column;

        li {
          cursor: pointer;
          text-align: center;
          padding: 16px;
          height: 51px;

          .dropdown {
            border-radius: 0;
            position: relative;
            padding: 0;
            margin: 0 15%;
            width: 70%;
            top: 30px;

            .ddItem {
              text-align: justify;
              width: 100%;
              padding-left: 15%;

              span {
                transform: rotate(0);
                width: 120px;
                text-align: center;
                display: inline-block;
              }

              img {
                vertical-align: middle;
              }

              &:hover {
                border-radius: 0;
              }
            }
          }
        }
      }
    }
    .active {
      display: flex;
    }
  }
}
